<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/js/sockjs-0.3.4.js}" > </script>
<script th:src="@{/js/stomp.js}" > </script>
<script th:src="@{/js/gamepage.js}" > </script>

<link rel="stylesheet" th:href="@{/css/game.css}" />


<head>
    <meta charset="UTF-8">
    <title>SUT Game</title>
</head>


<body onload="connect()">


<div>
    <!-- Comm A -->
    <div id="left">
        <p align="center" th:text="${comName1}"> </p>
        <table cellspacing="0" cellpadding="0" align="center" border="1"
               th:style="'background: url(/media/backgr/bg1.png);'">
            <tr>
                <th:block th:each="item: ${fieldCom1}">
                    <td th:attr="id=${item.cellId}" th:data-id="${item.cellId}"
                        th:onclick="window.location='/config/'+[[${item.cellId}]]"  >

                        <th:block th:if="${item.cellImage} eq null" >
                            <img style="opacity:0;" align="center" width="100%" height="auto"
                                 th:src="'/media/backgr/empty.png'" />
                        </th:block>

                        <th:block th:if="${item.cellImage} ne null" >
                            <img style="opacity: 0.95;" align="center" width="100%" height="auto"
                                  th:src="'/media/image/'+${item.cellImage}" />
                        </th:block>

                    </td>
                    <th:block th:if="(${itemStat.index} + 1) % 10 eq 0 and ${itemStat.index} ge 1 " >
                        <th:block th:utext="'</tr><tr>'"/>
                    </th:block>
                </th:block>
            </tr>
        </table>
    </div>

    <p></p>
    <!-- Comm B -->
    <div id="right">
        <p align="center" th:text="${comName2}"> </p>
        <table cellspacing="0" cellpadding="0" align="center" border="1"
               th:style="'background: url(/media/backgr/bg2.png);'">
            <tr>
                <th:block th:each="item: ${fieldCom2}">
                    <td th:attr="id=${item.cellId}" th:data-id="${item.cellId}"
                        th:onclick="window.location='/config/'+[[${item.cellId}]]"  >

                        <th:block th:if="${item.cellImage} eq null" >
                            <img style="opacity:0;" align="center" width="100%" height="auto"
                                 th:src="'/media/backgr/empty.png'" />
                        </th:block>

                        <th:block th:if="${item.cellImage} ne null" >
                            <img style="opacity: 0.95;" align="center" width="100%" height="auto"
                                 th:src="'/media/image/'+${item.cellImage}" />
                        </th:block>

                    </td>
                    <th:block th:if="(${itemStat.index} + 1) % 10 eq 0 and ${itemStat.index} ge 1 " >
                        <th:block th:utext="'</tr><tr>'"/>
                    </th:block>
                </th:block>
            </tr>
        </table>
    </div>
</div>

</body>
</html>