<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/js/sockjs-0.3.4.js}" > </script>
<script th:src="@{/js/stomp.js}" > </script>
<script th:src="@{/js/gamepage.js}" > </script>

<script type="text/javascript">
    var stompClient = null;
    function setConnected(connected) {

    }
    function infoge() {
        console.log("INFO GATHERING");
        alert("INFO GETHERING");
    }
    function connect() {
        var socket = new SockJS('/event');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function(messageOutput) {
                showMessageOutput(JSON.parse(messageOutput.body));
            });
        });
    }

    function disconnect() {
        if(stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendMessage(cid) {
        stompClient.send("/app/event", {}, JSON.stringify({'commandName':'tabulator', 'target':cid}));
    }

    function showMessageOutput(messageOutput) {
        var cid = messageOutput.target;
        var commandName = messageOutput.commandName;
        var color = messageOutput.color;
        var audio = new Audio("/media/s3.mp3");
        document.getElementById(cid).style.backgroundColor  = color;
        document.getElementById(cid).style.opacity = '0.3';
        audio.play()
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>SUT Game</title>
</head>

<style>
    * { margin: 0; padding: 0; }
    p { padding: 10px; }
    #left { position: absolute; left: 0; top: 0; width: 50%; height: 100% }
    #right { position: absolute; right: 0; top: 0; width: 50%; height: 100% }
</style>

<body onload="connect()">

<div>
    <!-- Comm A -->
    <div id="left">

        <p align="center" th:text="${fma.commandName}"></p>
        <table height="90%" width="100%" border="1">
            <tr>
                <th:block th:each="item: ${fma.getQuestions()}">
                    <td th:attr="id=${item.key}" th:data-id="${item.key}" th:onclick="sendMessage([[${item.key}]])" >

                    </td>
                    <th:block th:if="(${itemStat.index} + 1) % ${fma.fieldSize} eq 0 and ${itemStat.index} ge 2 " >
                        <th:block th:utext="'</tr><tr>'"/>
                    </th:block>
                </th:block>
            </tr>
        </table>
    </div>

    <p></p>
    <!-- Comm B -->
    <div id="right">
        <p align="center" th:text="${fmb.commandName}"></p>
        <table height="90%" width="100%" border="1">
            <tr>
                <th:block th:each="item: ${fmb.getQuestions()}">
                    <td th:attr="id=${item.key}" th:data-id="${item.key}" th:onclick="sendMessage([[${item.key}]])" >

                    </td>
                    <th:block th:if="(${itemStat.index} + 1) % ${fmb.fieldSize} eq 0 and ${itemStat.index} ge 2 " >
                        <th:block th:utext="'</tr><tr>'"/>
                    </th:block>
                </th:block>
            </tr>
        </table>
    </div>
</div>

</body>
</html>