<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/js/sockjs-0.3.4.js}" > </script>
<script th:src="@{/js/stomp.js}" > </script>
<script th:src="@{/js/gamepage.js}" > </script>

<script th:src="@{/js/modal.js}" > </script>


<link rel="stylesheet" th:href="@{/css/game.css}" />


<head>
    <meta charset="UTF-8">
    <title>SUT Game</title>
</head>


<body onload="connect()">


<div>
    <div id="compos">
    <table height="100%" width="100%" border="1">
        <tr>
            <th:block th:each="cell: ${field.cells}">

                <td th:attr="id=${cell.cellCssId}"
                    th:data-id="${cell.cellCssId}"
                    th:onclick="sendMessage('test', [[${cell.cellCssId}]])"

                    th:with="colItm=${((cellStat.index+1) % (field.fieldSize * 2))}"
                    th:class="${colItm eq 0 or colItm gt 4}? 'comClass1' : 'comClass2'"
                     >

                    <span th:with="ffff=${((cellStat.index+1) % (field.fieldSize * 2))}" th:text="${ffff}"/>

                </td>

                <th:block th:if="(${cellStat.index} + 1) % (${field.fieldSize}*2) eq 0 and ${cellStat.index} ge 2 " >
                    <th:block th:utext="'</tr><tr>'"/>
                </th:block>
            </th:block>
        </tr>
    </table>
    </div>
</div>

</body>
</html>