<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/js/sockjs-0.3.4.js}" > </script>
<script th:src="@{/js/stomp.js}" > </script>
<script th:src="@{/js/gamepage.js}" > </script>

<link rel="stylesheet" th:href="@{/css/game.css}" />


<head>
    <meta charset="UTF-8">
    <title>SUT Game</title>
</head>


<body onload="connect()">


<div>
    <!-- Comm A -->
    <div id="centr">
        <table cellspacing="0" cellpadding="0" align="center" border="1"
               th:style="'background: url(/media/backgr/bg1.png);'">
            <tr>
                <th:block th:each="item: ${fieldCom}">
                    <td th:attr="id=${item.cellId}" th:data-id="${item.cellId}"
                        th:onclick="sendMessage('field1', [[${item.cellId}]])" >

                        <th:block th:if="${item.pressed} and ${item.configured}" >
                            <img align="center" width="100%" height="auto"
                                 th:src="${item.cellImage}" />
                        </th:block>
                        <th:block th:if="${item.pressed} and ${! item.configured}" >
                            <B>TTEEXXTT</B>
                        </th:block>

                        <th:block th:if="${!item.pressed}" >
                            <img th:attr="id='IMG'+${item.cellId}" th:data-id="'IMG'+${item.cellId}"
                                 style="opacity:0;" align="center" width="100%" height="auto"
                                 th:src="'/media/backgr/empty.png'" />
                        </th:block>


                    </td>
                    <th:block th:if="(${itemStat.index} + 1) % 10 eq 0 and ${itemStat.index} ge 1 " >
                        <th:block th:utext="'</tr><tr>'"/>
                    </th:block>
                </th:block>
            </tr>
        </table>
    </div>

</div>

</body>
</html>